




body {
    background-image: url("https://cdn.discordapp.com/attachments/352448664901255168/1111371816431255613/jaja.jpg");
    font-size: 18px;


}


h1, h2{
    margin-top: 20px;
    font-weight:normal;

}

nav {
    background-color: palegoldenrod;
    display:flex;
    justify-content:space-evenly;
    font-size:35px;
    padding: 20px;

}


.imagegallery {
    width:100%;
    justify-content:space-between;
}

.imagegallery figure {
    display:block;
    margin:0;
    width:30%;
}

.imagegallery img {
    width:110%;
    height:400px;
    object-fit:cover;
}



header {

    font-size:100px;
    padding-top:5vh;
    text-align:center;
    height:200px;
    background-size:cover;
    background-position:center;

}

section {
    background-color:palegoldenrod;
    font-size: 1em;
    width: 75%;
    padding: 20px;
    margin: 20px auto;
    max-width:800px;
    border-radius: 12px;
}


footer {
    background-color:palegoldenrod;

}
